@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body::after{
    position:absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(https://r0.image2url.com/images/1765731303822-d003b0d5-9841-4d07-9be4-52c5ea6327c3.jpg);
}

.etuotsikko{
    font-family: "Pirata One", system-ui;
    font-size: 114px;
    text-align: center;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
    font-weight: bold;
    font-style: italic;

}
.otsikko{
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    text-align: center;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
    font-weight: bold;
    font-style: italic;
}

.sivuotsikko{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    text-align: center;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
    font-weight: bold;
    font-style: italic;
}

.contact{
    font-family: 'Courier New', Courier, monospace;
    font-size: 74px;
    text-align: center;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
    font-weight: bold;
    font-style: italic;
}

.keskiteksti{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
}

.small{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-style: italic;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
}

.counter{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
}

.keskikuva {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 3px 3px 5px rgba(255,155,0,.27);
}

.blogiteksti{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
}

.blogiotsikko{
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    font-style: italic;
    text-align: center;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
}

.kaikkikeskelle{
    margin-top: 300px;
    margin-left: 200px;
    margin-right: 200px;
}

.sivuotsikko{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-style: italic;
    text-align: center;
    color: #ff9100;
    text-shadow: 3px 3px 5px rgba(255,155,0,.27);
}

.foreground {
    background-color: #ff9a10;
}

.background {
    background-color: #170800;
}

.dimmed {
    background-color: #ff9100;
}

.border {
    border-color: #ff9100;
    border-radius: 2%;
}

.code {
    background: #ffa920;
}